@use 'variables/colors';
@use 'variables/font';
@use 'buttons';

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .logo {
        a {
            display: flex;
            align-items: center;

            .logo-title {
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                color: colors.$logo-title;
                padding-left: 12px;
            }
        }
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 48px;

        ul {
            &.nav-list {
                list-style-type: none;
                display: flex;
                align-items: center;
                flex-direction: row;
                color: colors.$title;
                font-variant: small-caps;
                text-transform: capitalize;
                gap: 48px;
            }
        } 
    }   
}