$body-background: #E5E5E5;
$container-background: rgba(243, 181, 98, 0.1);
$link-color: #111111;
$title: rgba(100, 123, 100, 1);
$black-title: rgba(51, 51, 51, 1);
$button: rgba(100, 123, 100, 1);
$button-hover: rgba(14, 112, 175, 1);
$description: rgba(79, 79, 79, 1);
$extra: rgba(243, 181, 98, 1);
$logo: #647B64;
$white: #EEEEEE;
$footer-background: #F0DCC5;
