*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.container {
    background-color: rgba(243, 181, 98, 0.1);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

    .inner-container {
        margin-left: 140px;
        margin-right: 140px;
        
    }

    a {
        text-decoration: none;
        color: #111111;
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .logo {
        a {
            display: flex;
            align-items: center;

            .logo-title {
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                color: rgba(100, 123, 100, 1);
                padding-left: 12px;
            }
        }
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 48px;

        ul {
            &.nav-list {
                list-style-type: none;
                display: flex;
                align-items: center;
                flex-direction: row;
                color: rgba(51, 51, 51, 1);
                font-variant: small-caps;
                text-transform: capitalize;
                gap: 48px;
            }
        }

        .button {
            background-color: rgba(100, 123, 100, 1);
            color: white;
            border: 3px solid rgba(100, 123, 100, 1);
            border-radius: 3px;
            padding: 10px 15px;
        }

        .button:hover {
            border: 3px solid rgba(14, 112, 175, 1);
        }  
    }   
}





.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .text {
        .hero-title {
            color: rgba(51, 51, 51, 1);
            font-family: 'Rubik', sans-serif;
            font-variant: small-caps;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
        }

        .hero-description {
            color: rgba(79, 79, 79, 1);
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
        }
    }

    .foto {
        display: grid;
        justify-content: center;
    }
}
